# Private Keys
alpine.rsa
gpg-batch

# Repository Structure (Managed by CI, exists only in gh-pages)
repo/debian/
repo/redhat/
repo/alpine/
# Keep public keys in main
!repo/*.gpg
!repo/*.asc
!repo/*.pub
# Keep the base directory but ignore its index.html
repo/index.html

# Build artifacts
dist/
*.deb
*.rpm
*.apk
